<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        Job Application Form
    </h2>
    <form>
        Name<br><br><input type="text" placeholder="Title">
        <input type="text" name="job1" placeholder="First name">
        <input type="text" name="job2" placeholder="Initials"><br> <br>
        <input type="text" name="job3" placeholder="Middle name">
        <input type="text" name="job4" placeholder="Last name"><br><br>
        Address<input type="text" name="job5" placeholder="Street Address"><br><br>
        <input type="text" name="job6" placeholder="Street Address Line2"><br><br>
        <input type="text" name="job7" placeholder="City">
        Email<input type="text">
        Phone no<input type="text"><br><br>
        
        <input type="submit">
    </form>
    
</body>
</html>
