<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        Job Application Form
    </h2>
    <form>
        Name<br><br><input type="text" placeholder="Title">
        <input type="text" placeholder="First name">
        <input type="text" placeholder="Initials"><br> <br>
        <input type="text" placeholder="Middle name">
        <input type="text" placeholder="Last name"><br><br>
        Address<input type="text" placeholder="Street Address"><br><br>
        <input type="text" placeholder="Street Address Line2"><br><br>
        <input type="text" placeholder="City">
        Email<input type="text">
        Phone no<input type="text">
    </form>
    
</body>
</html>